<div class='confirmed-page'>
    <div class='link-edit'><a href="{{editUrl}}{{image.id}}">Edit</a></div>
    <div class="row">
        <div class='col-sm-4 col-md-4 page-image'>
            <img src='{{image.url_thumbnail}}'>
        </div>
        <div class='col-sm-8 col-md-8 tag-and-products'>
            <div class='products-search tags-with-products'>
                {{{tagsProductsDom}}}
            </div>
        </div>
    </div>
</div>