<div class='content-row'>
    <div class='left'>
        <div class='title'>{{description}}</div>
        <div style='display: table; margin: auto'>
            <div class='previous'><span class="previous-handle fa fa-angle-left"></span></div>
            <div class='image'>
                {{#if url}}
                    <div class="issue-page-image-droppable"><img src="{{url}}" class="issue-page-image"></div>
                {{/if}}
            </div>
            <div class='next'><span class='next-handle fa fa-angle-right'></span></div>
        </div>
    </div>

    <div class='right'>
    </div>
</div>
