<div class='icon-tag-bubble icon-tag-bubble-top-right' data-type="{{type}}"
     {{#if tagId}}data-id="{{tagId}}"{{/if}}
    {{#if tagToolTip}}title="{{tagToolTip}}"{{/if}}
>
    <img src="{{url}}">
    <div class="icon-tag-del hs-icon-ic-close-circle" title="Remove this tag"></div>
    <div class="icon-tag-anchor fa fa-arrows"></div>
</div>
