<div class="tags-with-products-container">
    <div class='title'>Tags with products</div>
    <div class='tag-product-list-scroller'>
        <div class='tag-product-list clearfix'>{{{tagProductRowsDom}}}</div>
    </div>
</div>
