- if controller_name != 'sessions'
  = link_to "Go back to login", new_session_path(resource_name), class: "btn"

- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
  = link_to "Forgot your password?", new_password_path(resource_name), class: "btn"
