<div class="block-waiting-indicator">
    <div class="block-waiting-content">
        <p class="indicator"></p>
        <div class="message">
            {{#if noEscapse}}
                {{{message}}}
            {{else}}
                {{message}}
            {{/if}}
        </div>
    </div>
</div>