<div class="inline-waiting-indicator">
    <div class="indicator"></div>
    <div class="message">
        {{#if noEscapse}}
            {{{message}}}
        {{else}}
            {{message}}
        {{/if}}
    </div>
</div>