<div class="media-box-wrapper media-box-wrapper--half">
<div class="thumbnail media-box media-box--channel">
  <div class="media-box-img media-box-img--ratio media-box-img--ratio-17-12">
    {{#if varImageUrl}}
      <div class="media-box-img-container" style="background-image: url('{{ varImageUrl }}');"></div>
    {{else}}
      <div class="media-box-img-container media-box-img-container--blank"></div>
    {{/if}}
  </div>
  <div class="caption">
    <h3>
      {{ varTitle }}
    </h3>
  </div>
</div>
</div>
