h1= _('Editing Category')
= render 'layouts/alerts'
= simple_form_for @form, as: :category_form, url: panel_category_path(@category), method: :patch do |f|
  == render partial: 'fields', locals: { f: f }

