$gray-darkest: #141618;
$gray-darker: #1e2225;
$gray-dark: #2a3034;
$gray-semidark: #4c5459;
$gray: #737980;
$gray-semilight: #8d99a7;
$gray-semilighter: #c3ced9;
$gray-light: #dfe4ed;
$gray-lighter: #eaeef5;
$gray-lightest: #f7f9fd;
$light: #ffffff;

$brand-primary-light: #9ac1ff;
$brand-primary: #cd2528;
$brand-primary-dark: #134dbf;
$brand-overlay: rgba(67, 138, 255, 0.2);

$brand-success: #13bf69;
$brand-info: #40bfff;
$brand-warning: #ffcc00;
$brand-warning-dark: #ff8133;
$brand-danger: #e52253;

$scale-highest: #d2e600;
$scale-higher: #49e000;
$scale-high: #2aa800;
$scale-normal: #40bfff;
$scale-low: #448aff;
$scale-lower: #134dbf;

$state-danger-text: #e52253;


$alert-success-bg: rgba(19, 191, 105, 0.10);
$alert-success-border: rgba(18, 191, 105, 0.2);
$alert-success-text: #13bf69;

$alert-info-bg: rgba(63, 191, 255, 0.1);
$alert-info-border: rgba(64, 190, 255, 0.2);
$alert-info-text: #40bfff;

$alert-warning-bg: rgba(255, 185, 0, 0.1);
$alert-warning-border: rgba(255, 185, 0, 0.2);
$alert-warning-text: #ffb900;


$alert-danger-bg: rgba(229, 34, 82, 0.1);
$alert-danger-border: rgba(229, 34, 82, 0.2);
$alert-danger-text: #e52253;