p style="color: #2a3034; font-weight: 400; line-height: 1.2; font-size: 30px;"
  | Hello #{@resource.email}!
p style="padding: 35px;"
  | We're contacting you to notify you that your password has been changed.
