  = f.input :name, label: _('Name - just to know what is it about'), autofocus: true
  = f.input :message, as: :text, label: _('Message - will be shown on the apps together with the 3D model')
  = f.input :image, as: :file, label: _('Trigger image (only .jpg, .jpeg, .png supported)')
